/* ____________Navbar+header________________ */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato'sans-serif;
  margin: 0;
  font-family: inherit;
  background-color: #000;

}
section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul, nav {
  padding: 0;
  list-style-type: none;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  font-family: inherit;
}

a:hover {
  opacity: 1;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 24px;
  font-family: inherit;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: fixed;
  padding: 10px 100px 0;
  z-index: 3;
  background-color: black;
  top: 0;
  font-family: inherit;
}
header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
  font-family: inherit;
}

header nav li:first-child {
  margin-left: 0;
  font-family: inherit;
}

header nav li:last-child {
  margin-right: 0;
}

@media all and (max-width: 800px) and (min-width: 200px) {
  * {
    justify-content: center;
  }

  body {
      font-style: 15px;
    }
    header {
      flex-direction: column;
      padding: 10px !important;
      font-size: 15px;
      width: 90%;
      align-items: center;
    }
    header h2 {
      margin-bottom: 15px;
    }
    header nav li {
      margin: 0 10px;
    }
    .cont form {
      font-size: smaller;
      padding-right: 70px;
      padding-left: 90px;
      justify-content: center;
      margin: 0 auto;
    }
    .cont form li {
      justify-content: center;
      width: 80%;
}
}


/* ____________________Contact Us Form ___________________ */
.lbl,
button,
textarea {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 0.3em;
}

span {
  font-weight: 700;
  color: #7f7f7f;
  line-height: 35px;
  line-height: 2.5rem;
  font-size: 12px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

button[type="button"] {
  background: #9c2832;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 5px;
  margin-top: 1.3em;
}

.cont {
  width: 460px;
  padding-top: 40px;
  margin: 5em auto;
}

form {
  background-color: #000000;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  box-shadow: 0 20px 40px #7f7f7f;
  border-radius: 3px;
  overflow: hidden;
}

button,input,
textarea {
  width: 100%;
  padding: 9px 20px;
  border: 1px solid #9d9da0;
  background-color: rgb(255, 255, 255);
  color: #898e94;
  caret-color: #829ab1;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 2rem;
  box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
  border-radius: 3px;
  line-height: 2rem;
}



/* _______________FOOTER______________ */

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  justify-content: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #9c2832;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}









/* ________________________Media Query____________________ */

@media (max-width:760px) {

  .logo {
    width: auto;
    height: 80px;
    display: block;
    margin: auto;
  }

  .menu img {
    position: fixed;
    left: 175px;
    top: 6px;
    width: 40x;
    height: 40px;
    margin-left: 0px;
    margin-top: 10px;


  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    background-color: rgb(71, 128, 148);
    color: white;
    text-align: center;
    width: 100%;
  }

  .button {
    border-radius: 0px;
  }

  .form {
    width: 100%;
    text-align: center;
  }

  .form h2,
  a {
    width: 80%;
  }

  .form h2 {
    margin-bottom: 20px;
  }

  .head_er {
    left: 30%;

  }
}


/* _______Footer________ */
@media (max-width:720px) {
  .footer {
    text-align: center;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: center;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}