/* ____________Navbar+header________________ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.nav img {
    position: absolute;
    left: 110px;
    width: 40x;
    height: 40px;
    margin-left: 0px;
    margin-top: 10px;
    z-index: 1;
}

.nav {
    background-color: #9c2832;
    border-bottom: 2px solid #9c2832;
    text-align: right;
    height: 70px;
    width: 100%;
    line-height: 70px;
    padding: 0;
    z-index: 1;
}

nav {
    position: fixed;
}

.menu {
    margin: 0 110px 0 0;
    color: white;
    overflow: hidden;
}


.menu a {
    color: white;
    font-size: 14px;
    margin: 0 30px 0 20px;
    line-height: 60px;
    text-decoration: none;

}

.menu a:hover {
    opacity: 0.5;
}

.logo img {
    width: 200px;
}

.logo,
.menu,
.check {
    display: inline-block;
}

.menu li {
    display: inline-block;
    padding: 10px 15px;
}

/* ____________________RESERVATION ___________________ */

.res {
    background-image: url('../imgs/17.jpg');
    height: 920px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.res .header_form {
    font-size: 35px;
    color: #9c2832;
    text-align: center;
    padding-top: 90px;
    text-shadow: 3px 3px rgb(0, 0, 0);
}

form {
    color: white;
    background-color: #101113;
    padding: 30px 20px;
    border-radius: 3px;
    align-self: center;    
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
}

.formulaire {
    width: 600px;
    padding-top: 0px;
    border-top-width: 10px;
    margin: 5em auto;
    height: fit-content;
}


.form__q, input, select,.row1,
.row2, .row3, .row4, .row5, .days{
    width: 100%;
    padding: 1px 10px;
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    caret-color: #d4d4d4;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 2rem;
    box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
    border-radius: 3px;
    line-height: 2rem;
}

.btnn{
    text-align: center;
    }

button[type="button"] {
    background: #9c2832;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 1.3em;
    width: 60%;
    padding-top: 9px 15px;
    border: 1px solid #e1e2eb;
    line-height: 2rem;
    margin: auto;
}

button:hover {
    background-color: black;
}

/* _______________FOOTER______________ */

.footer {
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #9c2832;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}









/* ________________________Media Query____________________ */

@media (max-width:1360px) {

    .logo {
        width: auto;
        height: 80px;
        display: block;
        margin: auto;
    }

    .menu img {
        position: fixed;
        left: 175px;
        top: 6px;
        width: 40x;
        height: 40px;
        margin-left: 0px;
        margin-top: 10px;


    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        background-color: rgb(71, 128, 148);
        color: white;
        text-align: center;
        width: 100%;
    }

    .button {
        border-radius: 0px;
    }

    .form {
        width: 100%;
        text-align: center;
    }

    .form h2,
    a {
        width: 80%;
    }

    .form h2 {
        margin-bottom: 20px;
    }

    .head_er {
        left: 30%;

    }
}


/* _______Footer________ */
@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}